@media screen and (max-width: 900px){
  .site-top{
    display: none !important;
  }
  .responsive-nav{
    display: block !important;
  }
  .name-shadow{
    display: none;
  }
  .site-main-banner-inner-left .product-descr-box{
    display: none;
  }
  .site-main-banner-inner-left .banner-headline-box .product-banner-name{
    font-size: 30px !important;
    margin-top: 20px;
  }
  .banner-prod-price{
    display: none;
  }
  .site-main-banner-inner-left .banner-activs .buy-banner-prod{
    margin-left: 0 !important;
  }
  .site-main-banner-inner{
    height: auto !important;
    flex-direction: column-reverse;
    padding-bottom: 20px;
    padding-top: 20px;
    &-right{
      height: 200px !important;
      img{
        height: 200px !important;
      }
    }
    .site-main-banner-inner-left .banner-activs{
      margin-top: 30px !important;
    }
  }
}

@media screen and (max-width: 500px){
  .best-selling-prods-inner-cards{
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr)) !important;
  }
  .best-selling-prods-inner-cards-card .prod-card-hero{
    height: auto !important;
  }
  .best-selling-prods-inner-cards-card .prod-card-info .product-name{
    font-size: 14px !important;
    padding-left: 10px;
  }
  .best-selling-prods-inner-cards-card .prod-card-price span{
    font-size: 13px;
  }
  .best-selling-prods-inner-cards-card .add-to button{
    width: 85% !important;
    height: 30px !important;
  }
}

.responsive-nav{
  background: #333;
  display: none;
  &-inner{
    max-width: 1400px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    &-left{
      height: 100%;
      display: flex;
      align-items: center;
      .responsive-nav-logo{
        margin-left: 20px;
        img{
          height: 40px;
        }
      }
    }
    &-right{
      height: 100%;
      display: flex;
      align-items: center;
      .responsive-nav-search{
        margin-right: 20px;
      }
    }
  }
}

.responsive-sidenav{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background: #444;
  z-index: 3000;
  visibility: hidden;
  transition: .2s;
  width: 72%;
  &-header{
    border-bottom: 1px solid #222;
    .sidenav-close{
      width: 100%;
      // margin: 10px;
      padding: 15px;
      display: flex;
      justify-content: flex-end;
    }
  }
  .responsive-nav-list{
    width: 90%;
    background: #222;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
    ul{
      display: flex;
      flex-direction: column;
      li{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        color: white;
        border-bottom: 1px solid #444;
      }
    }
  }
  .responsive-login-form{
    width: 90%;
    background: #222;
    margin: auto;
    border-radius: 10px;
    margin-top: 10px;
    .login-form{
      display: flex;
      flex-direction: column;
      padding: 10px;
      input{
        background: #555;
        padding: 10px;
        border: 1px solid #444;
        border-radius: 5px;
        margin-top: 10px;
        color: white;
      }
      button{
        margin-top: 10px;
        background: #cb9400;
        padding: 10px;
        border: 1px solid #444;
        border-radius: 5px;
      }
    }
  }
  .responsive-sidenav-activs{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    .compare-res, .wishlist-res{
      width: 100%;
      background: #222;
      color: #cb9400;
      padding: 5px;
      margin-top: 2px;
      border-radius: 5px;
    }
  }
}
.sidenav-vis{
  width: 72%;
  visibility: visible;
  transition: .2s;
}